/* Colors */

:root {
  --color1: #1a2236;
  --color2: #fff;
  --color3: #98dede;
  --color4: #e45865;
  --color5: #7d7c84;
  --color6: #92dcdc;
  --color8: #1a2236;
  --color9: #1c528a;
  --color10: #e0e0ee;
  --color11: #1a2236;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display';
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

/* Header */
.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 100px;
  left: 0px;
  background: #fff;
  box-shadow: 0px 0.5px 0px #dddfe6;
  position: fixed;
  z-index: 200;
  width: calc(1440px - 200px);
  top: 38px;
}

/* .desktop-nav .div-logo .logo {
  display: none;
} */

.desktop-nav .menu-items {
  display: flex;
  list-style: none;
  position: absolute;
  width: 24px;
  height: 369px;
  left: 536px;
  top: 62px;
}

.desktop-nav .menu-items li {
  margin: 0 20px;
  font-family: "Poppins";
}

.desktop-nav.menu-items li a {
  text-decoration: none;
  color: var(--color11);
  font-size: 16px;
  position: relative;
}

.desktop-nav .menu-items li a.active::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--color11);
  left: 59px;
  bottom: 343px;
}

/* Hero Container */
.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-container .left {
  font-size: 110px;
  position: absolute;
}

.hero-container .btn {
  position: absolute;
  background: var(--color11);
  left: 11.11%;
  right: 71.25%;
  top: 74.74%;
  bottom: 83.82%;
  text-align: center;
}

.hero-container .right {
  position: absolute;
  height: 877px;
  width: 702px;
  left: 738px;
  top: 140px;
  border-radius: 0px;
}

.hero-container .image_dots {
  position: absolute;
  height: 175px;
  width: 175.00001525878906px;
  left: 563px;
  top: 802px;
  border-radius: 0px;
}

.hero-container .paragraph {
  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  position: absolute;
  width: 484px;
  height: 84px;
  left: 160px;
  top: 572px; 
}

.hero-container .left h1 {
  color: #1a2236;
  font-family:'Playfair Display';
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
}

.hero-container .left p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  position: static;
  width: 484px;
  height: 84px;
  left: 160px;
  top: 572px;
}

/* Manu animation */

.desktop-nav {
  animation: fadeDown 1000ms forwards;
  opacity: 0;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-container .left h3 {
  animation: fadeIn 800ms forwards;
  animation-delay: 400ms;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hero-container .left h1 {
  animation: crossScreen 800ms forwards;
  animation-delay: 800ms;
  opacity: 0;
}

@keyframes crossScreen {
  to {
    opacity: 1;
  }
}

.hero-container .paragraph p {
  animation: paragraph1 800ms forwards;
  animation-delay: 1000ms;
  opacity: 0;
}

@keyframes paragraph1 {
  to {
    opacity: 1;
  }
}

/* Mobile Version */

.desktop-nav .menu-icon {
  display: none;
}

@media (max-width: 650px) {
  .wrapper {
    padding: 0;
    width: auto;
  }

  .desktop-nav {
    width: 100%;
    padding: 0 30px;
  }

  .hero-container .right {
    display: none;
  }

  .desktop-nav .menu-items {
    display: none;
  }

  .desktop-nav .menu-icon {
    display: block;
    cursor: pointer;
    width: 24px;
    height: 8px;
    left: 536px;
    top: 62px;
  }

  .warapper .desktop-nav .div-logo .logo {
    background-image: url(./images/image_geometry_corner.png);
    position: absolute;
  }
}
