/* Colors */

:root {
  --color1: #1a2236;
  --color2: #fff;
  --color3: #98dede;
  --color4: #e45865;
  --color5: #7d7c84;
  --color6: #92dcdc;
  --color8: #1a2236;
  --color9: #1c528a;
  --color10: #e0e0ee;
  --color11: #1a2236;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  position: absolute;
}

.wrapper {
  position: relative;
  width: 1440px;
  height: 1169px;
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}

/* Header */

.desktop-nav {
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 0.5px 0 #dddfe6;
  animation: fadeDown 1000ms forwards;
  opacity: 0;
}

.desktop-nav .menu-items {
  display: flex;
  list-style: none;
  position: absolute;
  width: 24px;
  height: 369px;
  left: 536px;
  top: 20px;
}

.desktop-nav .menu-items li {
  margin: 0 20px;
  font-family: 'Poppins', sans-serif;
}

.desktop-nav.menu-items li a {
  text-decoration: none;
  color: var(--color11);
  font-size: 16px;
  position: relative;
}

.desktop-nav .menu-items li a.active::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--color11);
  left: 59px;
  bottom: 343px;
}

/* Hero Container */
.hero-container {
  position: absolute;
  width: 484px;
  left: 160px;
  top: 292px;
}

.hero-container .left h1 {
  display: flex;
  position: relative;
  color: #1a2236;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  width: 220px;
  font-size: 80px;
  line-height: 100%;
  top: 0;
  left: 0;
  animation: crossScreen 800ms forwards;
  animation-delay: 800ms;
  opacity: 0;
}

.hero-container .left .paragraph p {
  position: absolute;
  width: 484px;
  height: 84px;
  left: 160px;
  top: 572px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.hero-container .left .btn {
  position: absolute;
  left: 11.11%;
  right: 71.25%;
  top: 14.74%;
  bottom: 83.82%;
}

.right .hero-bg {
  position: absolute;
  width: 702px;
  height: 877px;
  left: 738px;
  top: 100px;
}

.right .image_dots {
  position: absolute;
  width: 175px;
  height: 175px;
  left: 563px;
  top: 802px;
}

/* Menu animation */

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .hero-container .left h3 {
  animation: fadeIn 800ms forwards;
  animation-delay: 400ms;
  opacity: 0;
}  */

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes crossScreen {
  to {
    opacity: 1;
  }
}

/* .hero-container .paragraph p {
  animation: paragraph1 800ms forwards;
  animation-delay: 1000ms;
  opacity: 0;
} */

@keyframes paragraph1 {
  to {
    opacity: 1;
  }
}

/* Mobile Version */

.desktop-nav .menu-icon {
  display: none;
}

.desktop-nav .logo {
  display: none;
}

@media (max-width: 650px) {
  .hero-wrapper {
    display: flex;
    justify-content: center;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    padding: 0;
    width: auto;
    height: 1169px;
    background: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
  }

  .wrapper .desktop-nav {
    display: flex;
    justify-content: center;
    width: 111px;
    height: 74px;
    left: 0;
    top: 0;
  }

  .hero-wrapper .desktop-nav .div-logo .logo {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    right: 209px;
    top: 0;
  }

  .desktop-nav .div-logo .menu-icon {
    /* display: flex; */
    /* justify-content: space-between; */
    position: absolute;
    display: block;
    cursor: pointer;
    width: 20px;
    height: 2px;
    left: 284px;
    top: 19px;
  }

  .hero-container .right {
    display: none;
  }

  .desktop-nav .menu-items {
    display: none;
  }

  .hero-container .left h3 {
    display: none;
  }

  .right .hero-bg {
    display: none;
  }

  .image_dots {
    display: none;
  }

  .hero-container {
    /* display: flex; */
    justify-content: space-between;
    position: absolute;
    width: 288px;
    height: 336px;
    left: 16px;
    top: 104px;
  }

  .hero-container .left h1 {
    display: flex;
    /* display: flex; */
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }

  .hero-container .left .paragraph p {
    /* display: flex; */
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .hero-container .left .btn {
    display: flex;
    /* display: flex; */
    justify-content: space-between;
    left: 5%;
    right: 5%;
    top: 7.94%;
    bottom: 91.04%;
  }
}
